.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p  {
    margin: 0 60px;
    color: aliceblue;
    
}
a {
    color: aqua;
    text-decoration: none;
}