* {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
  background-color: #303030;
height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.main {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #303030;
  margin: 0 auto;
}

.orderBtn {
  border-radius: 20px;
  font-size: 20px;
  background-color: aqua;
  border: none;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 30px;
}

.orderBtn:hover {
  transform: translateY(-3px);
}
.headerIcon {
  text-decoration: none;
  color: aliceblue;
  margin-left: 30px;
}
.content {
  margin: 0 auto;
  max-width: 1170px;
  color: aliceblue;
  flex-direction: column;
  display: flex;
  align-items: center;
}
